<% if (typeof status === 'string') { %>
    <link rel="stylesheet" href="/css/banner.css">
    <% if (status==='conflict') { %>
    <div class="banner error">
        <i class="far fa-times-circle shine"></i>This email was exist!
    </div>
    <% } %>
    <% if (status==='fail') { %>
    <div class="banner error">
        <i class="far fa-times-circle shine"></i>Account or password is incorrect!
    </div>
    <% } %>
    <% if (status==='update-error') { %>
    <div class="banner error">
        <i class="far fa-times-circle shine"></i>Update your information to use this function!
    </div>
    <% } %>
    <% if (status==='register-success') { %>
    <div class="banner success">
        <i class="fa-solid fa-check"></i>Register is success! Verify now!
    </div>
    <% } %>
    <% if (status==='verify-success') { %>
    <div class="banner success">
        <i class="fa-solid fa-check"></i>Wellcome to Smart Parking App!
    </div>
    <% } %>
    <% if (status==='verify-error') { %>
    <div class="banner error">
        <i class="far fa-times-circle shine"></i>Verification failed!
    </div>
    <% } %>
    <% if (status==='verify-warning') { %>
    <div class="banner warning">
        <i class="fa-solid fa-triangle-exclamation"></i>You has not verified!
    </div>
    <% } %>
    <% if (status==='getcode-success') { %>
    <div class="banner success">
        <i class="fa-solid fa-check"></i>Get a new code successful!
    </div>
    <% } %>
    <% if (status==='update-success') { %>
    <div class="banner success">
        <i class="fa-solid fa-check"></i>Update successful!
    </div>
    <% } %>
<% } %>
