<link rel="stylesheet" href="/css/footer.css">
<footer id="footer" class="footer" >
    <div class="footer__on">
        <div class="footer__title">
            <div>
                <img src="/logos/logo.png" alt="app logo">
                <span>SMART PARKING</span>
            </div>
            <p>''The smart parking management web platform is a modern solution that helps manage and operate parking lots more efficiently and conveniently. This platform integrates advanced technologies such as facial recognition, license plate recognition, and sensors to provide features like online booking, usage time management, automatic fee collection, and financial reporting.''</p>
        </div>
        <div class="footer__func">
            Discover
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="footer__func">
            About
            <ul>
                <li>Team</li>
                <li>Us</li>
                <li>App</li>
            </ul>
        </div>
        <div class="footer__func">
            Help
            <ul>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Partners</li>
            </ul>
        </div>
        <div class="footer__func">
            Follow Us
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__under">
        <span>Create by Nguyen_Hoang_Long  &  Le_Duc_Khuong v1.0</span>
    </div>
</footer>
