<style>
    .help {
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 100px;
        right: 100px;
        background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
        padding: 20px;   
        box-shadow: 0 0 20px #eee;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;
        transform-origin: center;
    }
    .help:hover {
        transform: scale(1.4);
    }
    a {
        font-size: 2.2rem;
        color: #fff; 
    }
         
</style>
<div class="help">
    <a href="/help" class="header__link">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" x="0" y="0" viewBox="0 0 96 96" style="enable-background:new 0 0 512 512;" xml:space="preserve" class=""><g><path d="M82 42.202V38C82 19.252 66.748 4 48 4S14 19.252 14 38v4.202c-4.559.929-8 4.969-8 9.798v11c0 5.514 4.486 10 10 10h8c2.206 0 4-1.794 4-4V46c0-2.206-1.794-4-4-4h-6v-4a29.81 29.81 0 0 1 4.847-16.319l.943.944a5.983 5.983 0 0 0 4.262 1.767h.033a5.852 5.852 0 0 0 4.189-1.769C36.448 18.353 42.033 16 48 16s11.552 2.353 15.727 6.624a5.853 5.853 0 0 0 4.188 1.768h.033a5.987 5.987 0 0 0 4.262-1.767l.943-.944A29.81 29.81 0 0 1 78 38v4h-6c-2.206 0-4 1.794-4 4v23c0 2.206 1.794 4 4 4h6v4c0 3.309-2.691 6-6 6H56.705c-.863-2.888-3.541-5-6.705-5h-4c-3.859 0-7 3.141-7 7s3.141 7 7 7h4c3.164 0 5.842-2.113 6.705-5H72c5.514 0 10-4.486 10-10v-4.202c4.559-.929 8-4.97 8-9.798V52c0-4.829-3.441-8.869-8-9.798zM24.003 69H16c-3.309 0-6-2.691-6-6V52c0-3.309 2.691-6 6-6h8zM69.38 19.797a2.01 2.01 0 0 1-1.433.595h-.011a1.884 1.884 0 0 1-1.35-.563C61.654 14.78 55.053 12 48 12s-13.654 2.78-18.586 7.827a1.881 1.881 0 0 1-1.351.564h-.011a2.01 2.01 0 0 1-1.433-.595l-1.346-1.347C30.78 12.058 38.922 8 48 8s17.22 4.058 22.726 10.45zM50 88h-4c-1.654 0-3-1.346-3-3s1.346-3 3-3h4c1.654 0 3 1.346 3 3s-1.346 3-3 3zm36-25c0 3.309-2.691 6-6 6h-8V46h8c3.309 0 6 2.691 6 6z" fill="#fff" opacity="1" data-original="#000000" class=""></path></g></svg>               
    </a>
</div>
