<link rel="stylesheet" href="/css/slide.css">
<div class="slide" style="background: url('/imgs/slide4k3.jpg') top center / cover no-repeat;">
    <div class="slide__cover"></div>
    <div class="slide__content">
        <h1>Hello!</h1>
        <h1>Wellcome Smart Parking App!</h1>
        <p>Smart parking, convenient management – The solution for the future!</p>
        <a href="">Explore app</a>
    </div>
</div>