<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Gửi Xe Thông Minh</title>
    <link rel="shortcut icon" href="/logos/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/verify.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <%- include('partials/banner')%>
        <div class="form__container">
            <div class="countdown__container" style="display: flex; justify-content: space-between; align-items: center; font-size: 2rem; font-weight: 600;">
                Time:
                <%- include('partials/countdown')%>
            </div>
            <h1 style="margin-top: 12px;">Verify Code</h1>
            <form action="/auth/verify" method="POST" id="form1">
                <div class="form__group">
                    <label for="code">Code 6 digits</label>
                    <input type="text" id="code" name="code" class="form__controll">
                    <span class="form__message"></span>
                </div>
                <div class="form__group">
                    <input type="submit" value="Verify" class="form__controll" style="background-color: #2d7df5;" value="">
                </div>
            </form>
            <form action="/auth/getcode" method="GET">
                <div class="form__group">
                    <input type="submit" value="Get a new code" class="form__controll" style="background-color: #2d7df5;">
                </div>
            </form>
        </div>
    </div>
	<script defer src="/js/validation.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
			Validator({
				form: '#form1',
				formGroupSelector: '.form__group',
				errorSelector: '.form__message',
				rules: [
					Validator.isRequired('#code','Please input code hear!'),
					Validator.minLength('#code', 6, "Code 6 digits"),
					Validator.maxLength('#code', 6, "Code 6 digits")
				]
			});
        });
    </script>
</body>
</html>
